* {
    box-sizing: border-box;
  }

body {
	font-size: 100%;
	font-family: "Helvetica", Arial, sans-serif;
	color: #333;
	width: 760px;
	background-color: silver;
	margin: 20px auto;
  padding: 2em 2em 4em 2em;
}
h1 {
	text-align: center;
    color: white;
    background-color: black;
    animation-name: profile;
    animation-duration: 1s;
}

section{
    position: block;
}

/*the animation colours for the heading */
@keyframes profile {
    from {background-color: #1ce;}
    to {background-color: #c0c0c0;}
  }
