* {
    box-sizing: border-box;
  }

  html {
	background-color: linear-gradient();
}
body {
	font-size: 100%;
	font-family: "Helvetica", Arial, sans-serif;
	color: #333;
	width: 760px;
	background-color: #FFF;
	margin: 20px auto;
	padding: 2em 2em 4em 2em;
}
h1 {
	text-align: center;
    color: grey;
    background-color: black;
    animation-name: product;
    animation-duration: 4s;
    
}

section{
    position: block;
}

@keyframes product {
    from {background-color: #1ce;}
    to {background-color: #c0c0c0;}
  }
